/* reset */
html,body,dl,dt,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
*:focus,*:active,*:hover{
	outline: none;
}
q{quotes:none;}
q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none; cursor:pointer; }
a:hover{ color:#e10012 }
.tr{text-align:right;}/* text align right */
.tl{text-align:left;}/* text align left */
.tc{text-align:center;}/* text align center */
.fr{float:right;}/* float right */
.fl{float:left;}/* float left */
.cl{*zoom:1;clear:both; display:block }/* clear float */
.cl:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.pr{position:relative;}/* Position Relative */
.pa{position:absolute;}/* Position Absolute */
.vb{	vertical-align:baseline;}/* vertical align baseline */
.vt{	vertical-align:top;}/* vertical align top */
input[type="submit"], input[type="number"],input[type="reset"],input[type="button"],button {-webkit-appearance: none;} /*safari 浏览器提交按钮bug*/
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none ;margin: 0;} /*  num输入 android 上下箭头*/
a img{
	font-size: 0;
}
img {max-width: 100%;width: auto\9;height: auto;vertical-align: middle;border: 0;-ms-interpolation-mode: bicubic; /*解决图片失真*/}
img:not([src *="/"]){display: none !important;}
body{
	font-family: 'Microsoft Yahei','微软雅黑', 'Open Sans', sans-serif;
	 -webkit-tap-highlight-color: transparent;
	 font-size:12px;
	  margin:0 auto;  
	   position:relative;
	     background:#fff;
         min-width:1200px;
}
img1{transition-duration: .5s; 
-moz-transition-duration: .5s; /* Firefox 4 */
-webkit-transition-duration: .5s; /* Safari 和 Chrome */
-o-transition-duration: .5s; /* Opera */
transition-property:opacity;
-moz-transition-property: opacity; /* Firefox 4 */
-webkit-transition-property:opacity; /* Safari 和 Chrome */
-o-transition-property:opacity; 
filter:alpha(opacity=90);
	-moz-opacity:0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	 cursor:pointer;
  }
img:hover{ filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;}
input{font-size:12px;font-family: 'Microsoft Yahei', 'Open Sans', sans-serif;}
select{ font-size:12px;font-family: 'Microsoft Yahei', 'Open Sans', sans-serif;}
/*导航*/
.top_hide{width: 100%;}
.top_hide_c{height: 0px;width: 100%;background: #fff;position: fixed;top: 0;z-index: 9999;overflow: hidden;/*border-bottom: 1px solid #333;*/}

.top_hide_c ul{ padding-left:394px; height: 60px;width: 1290px;}
.top_hide_c ul li{ float:left; margin-left:5px; margin-right:5px; position:relative;margin-top: 10px; }
.top_hide_c ul li a.a{transition-duration: .5s;  z-index:1111111;
-moz-transition-duration: .5s; /* Firefox 4 */
-webkit-transition-duration: .5s; /* Safari 和 Chrome */
-o-transition-duration: .5s; /* Opera */
transition-property:background;
-moz-transition-property: background; /* Firefox 4 */
-webkit-transition-property:background; /* Safari 和 Chrome */
-o-transition-property:background; color:#595757; border-radius:5px;  font-size:14px; display:block;width:100px;text-align:center; height:40px; line-height:40px; }
.top_hide_c ul li a.a:hover{ background: rgb(224,0,18);   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1; color:#fff;  }
.top_hide_c ul li a.a.on{  background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1; color:#fff;  }
.top_hide_c ul li dl
{transition-duration: .5s; 
-moz-transition-duration: .5s; /* Firefox 4 */
-webkit-transition-duration: .5s; /* Safari 和 Chrome */
-o-transition-duration: .5s; /* Opera */
transition-property:display;
-moz-transition-property: display; /* Firefox 4 */
-webkit-transition-property:display; /* Safari 和 Chrome */
-o-transition-property:display;
     overflow:hidden; position:absolute;  display:none; background:#fff; z-index:111111; border-radius:0px 5px 5px 5px; padding-top:20px;  padding-bottom:10px; box-shadow:2px 3px 4px #c4c4c4; width:164px; left:0px; top:37px;  }
.top_hide_c ul li dl.on{ display:block; }
.top_hide_c ul li dl dd{  padding-left:20px; padding-top:5px; padding-bottom:5px; clear:both; display:block; overflow:hidden }
.top_hide_c ul li dl dd span.sj{background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1;  display:inline-block; width:24px; height:24px; position:absolute;-webkit-transform: rotateZ(45deg);-moz-transform: rotateZ(45deg);-o-transform: rotateZ(45deg);-ms-transform: rotateZ(45deg);transform: rotateZ(45deg); top:-12px; left:-12px; }
.top_hide_c ul li dl dd a{ color:#595757; font-size:14px; }
.top_hide_c ul li dl dd a:hover{ color:#e00012; text-decoration:underline }
/*换皮肤*/
.change_bg{width: 295px;height: 168px;background: rgb(43, 54, 67);position: fixed;top: 22%;z-index: 9999;left: -295px;}
.change_btn{width: 60px;height: 60px;position: absolute;right: -60px;top: 0px;background: rgb(43, 54, 67);z-index: 9999;font-size: 50px;text-align: center;line-height: 56px;color: rgb(165,191,210);}
.change_btn:hover{color: #fff;}
.change_bg p{width: 100%;text-align: center;font-size: 30px;color: #fff;margin-top: 10px;}
.change_box{width: 245px;height: 50px;margin: 25px auto;}
.change_box ul{margin: 0;padding: 0;}
.change_box a{width: 40px;height: 40px;float: left;margin-right: 9px;outline: none;border-radius: 3px;transition: all 0.3s ease;}
.change_box a:hover{transform:scale(0.9);}
.change_box .them_r{background: red;}
.change_box .them_o{background: orange;}
.change_box .them_g{background: green;}
.change_box .them_p{background: pink;}
.change_box .them_b{background: blue;}
/**/
.top{ height:40px; background:#eeeeef; line-height:40px;  }
.topc{ width:1200px; margin:0 auto;position:relative}
.topc .logo{ position:absolute; left:0px; top:0px; }
.topl{ padding-left:280px; }
.topl ul li{ float:left;font-size:14px; padding-right:10px; }
.topl ul li span{ font-size:14px; float:left; display:inline-block; margin-left:5px; margin-right:5px; }
.topl ul li span.ico1{ background:url(/static/img/mp_05.png) no-repeat; background-position:0px -24px; width:20px; height:19px; margin-top:10px; }
.topl ul li span.ico2{ background:url(/static/img/mp_05.png) no-repeat;background-position:0px 0px;  width:20px; height:19px;margin-top:15px }
.topr ul li{ float:left; padding-left:20px; }
.topr ul li a{ color:#595757; font-size:14px; }
.topr ul li{ float:left;}
.uban{ width:1200px; margin:0 auto; height:118px; }
.uban ul{ padding-left:320px; padding-top:40px; }
.uban ul li{ float:left; margin-left:5px; margin-right:5px; position:relative }
.uban ul li a.a{transition-duration: .5s;  z-index:1111111;
-moz-transition-duration: .5s; /* Firefox 4 */
-webkit-transition-duration: .5s; /* Safari 和 Chrome */
-o-transition-duration: .5s; /* Opera */
transition-property:background;
-moz-transition-property: background; /* Firefox 4 */
-webkit-transition-property:background; /* Safari 和 Chrome */
-o-transition-property:background; color:#595757; border-radius:5px;  font-size:14px; display:block;width:100px;text-align:center; height:40px; line-height:40px; }
.uban ul li a.a:hover{ background: rgb(224,0,18);   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1; color:#fff;  }
.uban ul li a.a.on{  background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1; color:#fff;  }
.uban ul li dl
{transition-duration: .5s; 
-moz-transition-duration: .5s; /* Firefox 4 */
-webkit-transition-duration: .5s; /* Safari 和 Chrome */
-o-transition-duration: .5s; /* Opera */
transition-property:display;
-moz-transition-property: display; /* Firefox 4 */
-webkit-transition-property:display; /* Safari 和 Chrome */
-o-transition-property:display;
     overflow:hidden; position:absolute;  display:none; background:#fff; z-index:111111; border-radius:0px 5px 5px 5px; padding-top:20px;  padding-bottom:10px; box-shadow:2px 3px 4px #c4c4c4; width:164px; left:0px; top:37px;  }
.uban ul li dl.on{ display:block; }
.uban ul li dl dd{  padding-left:20px; padding-top:5px; padding-bottom:5px; clear:both; display:block; overflow:hidden }
.uban ul li dl dd span.sj{background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1;  display:inline-block; width:24px; height:24px; position:absolute;-webkit-transform: rotateZ(45deg);-moz-transform: rotateZ(45deg);-o-transform: rotateZ(45deg);-ms-transform: rotateZ(45deg);transform: rotateZ(45deg); top:-12px; left:-12px; }
.uban ul li dl dd a{ color:#595757; font-size:14px; }
.uban ul li dl dd a:hover{ color:#e00012; text-decoration:underline }


.flash{  overflow:hidden;width: 100%; margin-bottom: 40px;}
.nianling{ width:1200px;  margin:0 auto; padding-top:25px; padding-bottom:45px; position: relative;height: 180px;/*overflow: hidden;*/ }
.nianlingl{transition-duration: .5s; 
-moz-transition-duration: .5s; /* Firefox 4 */
-webkit-transition-duration: .5s; /* Safari 和 Chrome */
-o-transition-duration: .5s; /* Opera */
transition-property:background;
-moz-transition-property: background; /* Firefox 4 */
-webkit-transition-property:background; /* Safari 和 Chrome */
-o-transition-property:background; width:378px; background:#eeeeef; height:180px; position:absolute; border-radius:5px; left:0px;bottom: -400px;opacity: 0;}
.nianlingm{transition-duration: .5s; 
-moz-transition-duration: .5s; /* Firefox 4 */
-webkit-transition-duration: .5s; /* Safari 和 Chrome */
-o-transition-duration: .5s; /* Opera */
transition-property:background;
-moz-transition-property: background; /* Firefox 4 */
-webkit-transition-property:background; /* Safari 和 Chrome */
-o-transition-property:background; width:378px; margin-left:32px; margin-right:32px; background:#eeeeef; height:180px; position:absolute; border-radius:5px;left: 378px;bottom: -400px; opacity: 0;}
.nianlingr{transition-duration: .5s; 
-moz-transition-duration: .5s; /* Firefox 4 */
-webkit-transition-duration: .5s; /* Safari 和 Chrome */
-o-transition-duration: .5s; /* Opera */
transition-property:background;
-moz-transition-property: background; /* Firefox 4 */
-webkit-transition-property:background; /* Safari 和 Chrome */
-o-transition-property:background; width:378px; background:#eeeeef; height:180px; position:absolute; border-radius:5px;right: 0px;bottom: -400px;opacity: 0;}
.nianling a:hover .nianlingl{ background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1;   }
.nianling a:hover .nianlingm{ background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1;   }
.nianling a:hover .nianlingr{ background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1;   }
.nianling .nianlingc{ position:absolute; right:0px; bottom:0px; }
.nianling strong{ display:block; clear:both; padding-left:40px; font-weight:bold; padding-top:46px; color:#231815; font-size:27px;   }
.nianling p{display:block; clear:both; padding-left:40px; color:#595757; font-size:20px;  padding-top:10px; }
.nianling a:hover strong{ color:#fff; }
.nianling a:hover p{ color:#fff; }
.xitong{width:1180px;  margin:0 auto;position: relative;overflow: hidden;height: 214px; }
.xitongl{ width:550px; text-align:center;position: absolute;left: -550px;top: 0; }
.xitongr{ width:550px; text-align:center; position: absolute;right: -550px;top: 0;}
.xitong strong{text-align:center;  display:block;  clear:both }
.xitong strong span{ display:inline-block;}
.xitong strong .fl1{  border-top:1px solid black; line-height:1px;     padding-top: 7px; height:1px; margin-top:0px; width:80px; margin-left:20px; margin-right:20px; }
.xitong strong .fl2{ color:#333; font-size:21px; line-height:34px; }
.xitong strong .fl3{ border-top:1px solid black;line-height:1px;    padding-top: 7px;  height:1px;margin-top:0px;  width:80px; margin-left:20px; margin-right:20px; }
.xitong span.cl{ color:#e10012; font-size:18px; line-height:28px;  }
.xitong p{ padding-top:5px; padding-bottom:35px; line-height:28px; color:#595757; font-size:16px; text-align:left }

.liwu{width:100%;  margin:0 auto; background:#eeeeef; padding-top:20px; padding-bottom:20px; }
.liwuc{width:1180px;  margin:0 auto;    padding-bottom: 30px; }
.liwuc strong{text-align:center;  display:block;  clear:both }
.liwuc strong span{ display:inline-block;}
.liwuc strong .fl1{  border-top:1px solid black;padding-top: 7px; line-height:1px;  height:1px; margin-top:0px; width:80px; margin-left:20px; margin-right:20px; }
.liwuc strong .fl2{ color:#333; font-size:21px; line-height:34px; }
.liwuc strong .fl3{ border-top:1px solid black;line-height:1px;padding-top: 7px;  height:1px;margin-top:0px;  width:80px; margin-left:20px; margin-right:20px; }
.liwuc span.cl{ text-align:center; color:#e10012; font-size:16px; line-height:28px;  }
.liwu{padding-top:70px;padding-bottom:30px;}
.liwux{padding-top:20px;padding-bottom:20px;  }
.liwux dl{ width:33.33%; float:left;}
.liwux dl dt{ clear:both; display:block; text-align:center;padding-bottom:10px;}
.liwux dl dt span{ padding:0px; margin:0px; background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1; text-align:center; color:#fff; font-size:28px; font-family: Arial; display:inline-block; width:70px; height:70px; line-height:70px; border-radius:5px; }
.liwux dl dd{ clear:both; display:block; text-align:center;}
.liwux dl dd strong{ color:#333; font-size:18px; font-weight:bold; line-height:46px; }
.liwux dl dd p{ color:#595757; font-size:16px; line-height:32px; }
.liwuy{ text-align:center; padding-top:26px; padding-bottom:26px; }

.tianshi{ width:1150px; margin:0 auto; padding-top:80px; }
.tianshi strong.tit{text-align:center;  display:block;  clear:both; padding-bottom:25px; }
.tianshi strong.tit span{ display:inline-block;}
.tianshi strong.tit .fl1{  border-top:1px solid black;     padding-top: 7px;line-height:1px;  height:1px; margin-top:0px; width:80px; margin-left:20px; margin-right:20px; }
.tianshi strong.tit .fl2{ color:#333; font-size:21px; line-height:34px; }
.tianshi strong.tit .fl3{ border-top:1px solid black;line-height:1px;    padding-top: 7px;  height:1px;margin-top:0px;  width:80px; margin-left:20px; margin-right:20px; }
.device .swiper-slide{width: 1150px; padding:0px; margin:0px auto;}
.device .swiper-slide dl{padding:0px; margin:0px; width:575px;  float:left; padding-top:32px; padding-bottom:32px; }
.device .swiper-slide dl dt{padding:0px; margin:0px; float:left; width:190px;height:190px; text-align:center;}
.device .swiper-slide dl dt img{ width:170px; height:170px; border-radius:170px;  }
.device .swiper-slide dl dd{  height:190px; padding:0px; margin:0px; float:left; width:290px; padding-right:50px; text-align:left; background:url(/static/img/mp_36.png) no-repeat; padding-left:45px; background-position:0px 0px;  }
.device .swiper-slide dl dd strong{ height:100px; clear:both; display:block; color:#595757; font-size:18px; line-height:30px; }
.device .swiper-slide dl dd p{ height:70px; clear:both; display:block;color:#231815; font-size:16px; line-height:28px; }
.device .swiper-slide dl dd p span{ color:#231815; font-size:16px; font-weight:bold }

.mianfei{width:1200px; margin:0 auto;  padding-top:50px; padding-bottom:50px; }
.mianfei .mianfeil{width:370px;}
.mianfei .mianfeim{width:370px; margin-left:45px; margin-right:45px; }
.mianfei .mianfeir{width:370px;}
.mianfei dl{ background:#eeeeef; width:370px; height:180px; clear:both; display:block; border-radius:10px; }
.mianfei dl dd{ float:left; padding:20px; width:150px; }
.mianfei dl dd strong{ text-align:left; color:#e10012; font-size:20px; font-weight:bold; line-height:32px; }
.mianfei dl dd p{text-align:left;color:#595757; font-size:14px;line-height:22px;}
.mianfei dl dt{ position:relative; float:left; padding:20px; width:130px;   }
.mianfei dl dt .shenqing{  position:absolute; left:50%; margin-left:-20px; bottom:10px; }
.mianfei dl dt .shenqing a{ display:block; padding-left:20px; padding-right:20px; padding-top:5px; padding-bottom:5px; border-radius:5px; padding:5px; background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1; color:#fff; font-size:14px;}

.dingjizj{  background:#eeeeef; padding-top:70px; padding-bottom:70px; }
.dingjizjc{ width:1200px; margin:0 auto; }
.dingjizjc ul li{ padding-left:290px;  clear:both; display:block; text-align:center; padding-top:13px; padding-bottom:13px; overflow:hidden; }
.dingjizjc ul li span{  margin-top:10px;  float:left; width:100px;}
.dingjizjc ul li strong{   float:left; font-weight:bold; color:#e10012; font-size:50px; line-height:50px; }
.dingjizjc ul li p{ padding-left:20px; line-height:50px;   float:left;color:#595757; font-size:33px;}

.zdaohang{ background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1; text-align:center; padding-top:5px; padding-bottom:5px; }
.wlc{ background:#fff; padding-top:30px; padding-bottom:30px;width:1200px; margin:0 auto;position: relative;height: 186px;}
.wlc ul{ width:20%; position: absolute;margin-top: 30px;}
/**/
.wlc_a{left: 0;top: 100px;opacity: 0;filter:alpha(opacity:0);}
.wlc_b{left: 20%;top: 100px;opacity: 0;filter:alpha(opacity:0);}
.wlc_c{left: 40%;top: 100px;opacity: 0;filter:alpha(opacity:0);}
.wlc_d{left: 60%;top: 100px;opacity: 0;filter:alpha(opacity:0);}
.wlc_e{left: 80%;top: 100px;opacity: 0;filter:alpha(opacity:0);}
/**/
.wlc ul li{  text-align:left; clear:both; display:block;}
.wlc ul li strong{ color:#231815; font-weight:bold; font-size:18px; line-height:42px }
.wlc ul li a{ color:#595757; font-size:13px; line-height:36px; }
.wlc ul li a:hover{ color:#e10012; }
.bottom{ background:#eeeeef;height:90px; }
.bottomc{width:1200px; margin:0 auto; padding-top:20px; }
.bottomc ul li{ color:#231815; font-size:12px; line-height:50px; float:left; width:25%; text-align:center;}
.bottomc ul li a{color:#231815;}
.bottomc ul li a:hover{ color:#e10012 }
.bottomc ul li.li1{ text-align:left; }

.biaoti{ text-align:center;  width:100%; padding-top:70px;  padding-bottom:20px; }
.biaoti strong{text-align:center;  display:block;  clear:both }
.biaoti strong span{ display:inline-block;}
.biaoti strong .fl1{  border-top:1px solid black; line-height:1px;    padding-top: 7px;  height:1px; margin-top:0px; width:80px; margin-left:20px; margin-right:20px; }
.biaoti strong .fl2{ color:#333; font-size:24px; line-height:34px; }
.biaoti strong .fl3{ border-top:1px solid black;line-height:1px;    padding-top: 7px;  height:1px;margin-top:0px;  width:80px; margin-left:20px; margin-right:20px; }
.biaoti span.cl{ height:44px; color:#e10012; font-size:16px; line-height:20px;  }

.tup2{width:1200px; margin:0 auto; padding-top:0px; padding-bottom:20px; }
.tup2 ul li{ float:left; width:50%;}
.tup2 ul li img{ width:580px;}
.gift{width:1200px; margin:0 auto; padding-top:0px; padding-bottom:70px;}
.gift p{ text-align:center; padding:4px 20px 4px 20px; line-height:22px; color:#717071; font-size:14px; }
.gift p span{ clear:both; display:block; width:100%; text-align:center; color:#e10012;line-height:22px;font-size:14px; }

.add{ width:100%; }
.zuiqiang{ width:1200px; margin:0 auto; padding-bottom:40px;    padding-top: 30px; }
.zuiqiang p{ clear:both; line-height:22px; color:#717071; font-size:14px; display:block; overflow:hidden; background:url(/static/img/dian_12.png) no-repeat; padding-left:15px; background-position:0px 10px; }
.zuiqiangl{ width:370px; }
.zuiqiangm{ width:370px; padding-left:20px; padding-right:20px; }
.zuiqiangr{ width:420px; }

.zuiqiang .biaoti strong .fl1{  border-top:1px solid black;line-height:1px;  height:1px; margin-top:0px; width:60px; margin-left:20px; margin-right:20px; }
.zuiqiang .biaoti strong .fl2{ color:#333; font-size:24px; line-height:34px; }
.zuiqiang .biaoti strong .fl3{ border-top:1px solid black;line-height:1px;  height:1px;margin-top:0px;  width:60px; margin-left:20px; margin-right:2px; }

.zjconv{width:1200px; margin:0 auto;padding-top:70px;padding-bottom:20px;  }
.zjconv dl{ width:23%; padding-left:1%; padding-right:1%; float:left;}
.zjconv dl dt{ clear:both; display:block; text-align:center;padding-bottom:20px;}
.zjconv dl dt span{ padding:0px; margin:0px; background: rgb(224, 0, 18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1; text-align:center; color:#fff; font-size:28px; font-family: Arial; display:inline-block; width:70px; height:70px; line-height:70px; border-radius:5px; }
.zjconv dl dd{ clear:both; display:block; text-align:center;}
.zjconv dl dd strong{clear:both; display:block; color:#231815; font-size:16px; font-weight:bold; line-height:26px; }
.zjconv dl dd span{ clear:both; display:block; color:#e10012; font-size:14px; font-weight:lighter; line-height:20px; height:45px; }
.zjconv dl dd p{text-align:left; color:#717071; font-size:14px; line-height:28px; padding-left:10px; padding-right:10px; }

.forkid{width:1200px; margin:0 auto;padding-top:60px;padding-bottom:20px; background:#eeeeef }
.forkidc{ text-align:center; color:#717071; font-size:18px;  line-height:36px; }

.anniu{ text-align:center;width:1200px; margin:0 auto;padding-top:60px;padding-bottom:60px; }
.anniu .an{ display:inline-block; background:#e10012;border:1px solid #e10012; color:#ffffff; font-size:18px; text-align:center; padding:10px 30px; }
.anniu .an:hover{ background:#b81a27; }
.anniu .anh{ display:inline-block; background:#fff; border:1px solid #e10012; color:#231815; font-size:18px; text-align:center; padding:10px 30px; }
.anniu .anh:hover{ color:#b81a27 }
/*功能解读*/
.tup3{width:1200px; margin:0 auto;padding-top:20px;padding-bottom:70px;}
.tup3 ul li{ float:left; width:33.33%; text-align:center;}
.gift p strong{ color:#717071; font-size:18px; font-weight:bold; }

.lingyu{  background:#fff; padding-top:60px;padding-bottom:60px;}
.lingyu.on{ background:#eeeeef }
.lingyu dl{ width:1200px; margin:0 auto;}
.lingyu dl dt{ float:left; width:254px; text-align:left;
               }
.lingyu dl dd{ float:left; width:906px; padding-left:40px;}
.lingyu dl dd h1{ color:#231815; font-size:16px; font-weight:bold; line-height:32px; }
.lingyu dl dd h2{ color:#e10012; font-size:14px; line-height:32px; }
.lingyu dl dd p{ padding-top:10px; padding-bottom:10px; color:#717071; font-size:14px; line-height:26px; }
.lingyu dl dd h3{ color:#e10012; font-size:36px; }
.lingyu dl dd h3 strong{ color:#e10012; font-size:36px; font-weight:bold }
.lingyu dl dd ul{ padding-top:5px; }
.lingyu dl dd ul li{ clear:both; display:block; padding-top:5px;  padding-bottom:5px; overflow:hidden;}
.lingyu dl dd ul li .fl{ color:#231815; font-size:14px; padding-right:20px; }

/*产品演示*/

.flfa{ text-align:center; width:100%; }
.h10{ height:10px; }
.xuanchuan{ width:1200px; margin:0 auto; padding-top:30px;padding-bottom:30px; }
.device1{width:1200px; margin:0 auto; }
.device1 ul{ clear:both; display:block; height:360px; padding-top:20px; }
.device1 ul li{ float:left; width:370px;  margin-left:15px; margin-right:15px; text-align:center;}
.device1 ul li a{ display:block; position:relative; text-align:center; }
.device1 ul li a span.on{ position:absolute; top:70px; left:160px; }
.device1 ul li a.bofang{ margin-top:10px; margin-bottom:10px; display:inline-block; background:#e10012; color:#fff; font-size:16px; padding:10px 30px; }
.device1 ul li strong.tit{text-align:center;  display:block;padding-top:10px;  clear:both }
.device1 ul li strong.tit span{ display:inline-block;}
.device1 ul li strong.tit .fl1{   border-top:1px solid black;padding-top:15px; line-height:1px;  height:1px; margin-top:0px; margin-bottom:15px; width:60px; margin-left:2px; margin-right:12px; }
.device1 ul li strong.tit .fl2{  color:#333; font-size:16px; line-height:26px;  }
.device1 ul li strong.tit .fl3{ border-top:1px solid black;line-height:1px;  height:1px;margin-top:0px;padding-top:15px; margin-bottom:15px; width:60px; margin-left:12px; margin-right:2px; }

.gnyanshi{ background:#eeeeef;  }
.device2{width:1200px; margin:0 auto; position:relative;}
.device2 ul{ clear:both; display:block; height:260px; padding-top:20px; }
.device2 ul li{ float:left; width:270px;  margin-left:15px; margin-right:15px; text-align:center;}
.device2 ul li a{ display:block; position:relative; text-align:center; }
.device2 ul li a span.on{ position:absolute; top:65px; left:115px; }
.device2 ul li strong.tit{text-align:center;padding-top: 10px;display:block;  clear:both; color:#231815; font-size:14px; line-height:32px;  }

.device3{width:100%; margin:0 auto; position:relative; padding-top:40px;}
.device3 ul{ clear:both; display:block;  }
.device3 ul li{ float:left; width:25%;position:relative;  margin-left:0px; margin-right:0px; text-align:center;}
.device3 ul li .pic{ display:block; position:relative; text-align:center; }
.device3 ul li .pic span.on{ position:absolute;  left:50%;  margin-left:-25px; top:50%; margin-top:10px; }
.device3 ul li strong.tit{ z-index:10; text-align:center; width:100%; position:absolute;top:30%; display:block;  clear:both; color:#fff; font-size:14px; line-height:32px;  }

/*产品体系-幼儿英语*/

.tixi{ width:1200px; margin:0 auto; padding-bottom:40px; }
.tixi p{ clear:both; line-height:22px; color:#717071; font-size:14px; display:block; overflow:hidden; background:url(/static/img/dian_12.png) no-repeat; padding-left:15px; background-position:0px 10px; }
.tixil{ height:265px; width:390px; background:#eeeeef; }
.tixim{ height:265px;width:380px;background:#eeeeef; margin-left:20px; margin-right:20px; }
.tixir{height:265px; width:390px;background:#eeeeef url(/static/img/cpyy_08.png) no-repeat; background-position:center 180px; }
.tixil ul{ padding:32px 27px; }
.tixil ul li{ color:#231815; height:42px; line-height:42px; font-size:16px; clear:both; display:block;}
.tixil ul li span{ float:left;}
.tixil ul li span.ico{ background:url(/static/img/cpyy_05.png) no-repeat; width:41px; height:40px; background-position:-6px 0px; }
.tixil ul li span.ico1{ background:url(/static/img/cpyy_06.png) no-repeat; width:41px; height:40px; background-position:-6px 0px; }
.tixil ul li span.ico2{ background:url(/static/img/cpyy_07.png) no-repeat; width:41px; height:40px; background-position:-6px 4px; }
.tixil ul li span.fl1{ padding-left:5px; color:#231815; font-size:15px; }

.tixil ul li.li2 span.ico{ background:url(/static/img/cpyy_05.png) no-repeat;  background-position:-3px -42px; }
.tixil ul li.li3 span.ico{ background:url(/static/img/cpyy_05.png) no-repeat;  background-position:-3px -80px; }
.tixil ul li.li4 span.ico{ background:url(/static/img/cpyy_05.png) no-repeat;  background-position:-4px -120px; }
.tixil ul li.li5 span.ico{ background:url(/static/img/cpyy_05.png) no-repeat;  background-position:-4px -159px; }

.tixil ul li.li2 span.ico1{ background:url(/static/img/cpyy_06.png) no-repeat;  background-position:-3px -42px; }
.tixil ul li.li3 span.ico1{ background:url(/static/img/cpyy_06.png) no-repeat;  background-position:-3px -84px; }
.tixil ul li.li4 span.ico1{ background:url(/static/img/cpyy_06.png) no-repeat;  background-position:-4px -120px; }
.tixil ul li.li5 span.ico1{ background:url(/static/img/cpyy_06.png) no-repeat;  background-position:-4px -159px; }

.tixil ul li.li2 span.ico2{ background:url(/static/img/cpyy_07.png) no-repeat;  background-position:-3px -35px; }
.tixil ul li.li3 span.ico2{ background:url(/static/img/cpyy_07.png) no-repeat;  background-position:-3px -75px; }
.tixil ul li.li4 span.ico2{ background:url(/static/img/cpyy_07.png) no-repeat;  background-position:-4px -114px; }
.tixil ul li.li5 span.ico2{ background:url(/static/img/cpyy_07.png) no-repeat;  background-position:-4px -155px; }


.tixi .biaoti strong .fl1{  border-top:1px solid black; line-height:1px;  height:1px; margin-top:0px; width:60px; margin-left:2px; margin-right:10px; }
.tixi .biaoti strong .fl2{ color:#231815; font-size:16px; line-height:40px; }
.tixi .biaoti strong .fl3{ border-top:1px solid black;line-height:1px;  height:1px;margin-top:0px;  width:60px; margin-left:10px; margin-right:2px; }
.tixim ul{ padding-left:15px; padding-top:0px; }
.tixim ul li{  background:url(/static/img/dian_12.png) no-repeat; background-position:4px 14px; padding-left:20px; clear:both; display:block; padding-top:4px; padding-bottom:4px; }
.tixim ul li a{ color:#717071; font-size:14px; }

.tixir p{ padding-left:25px;padding-right:25px; background:none; padding-top:0px;color:#717071; font-size:14px; line-height:24px; }
.zuoyou{width:1200px; margin:0 auto;}
.zuoyou dl{  clear:both; display:block; padding-top:0px; padding-bottom:30px;  overflow:hidden }
.zuoyou dl dt{ float:left; width:400px; text-align:left; }
.zuoyou dl dd{ padding-top:10px; float:left;  width:800px; text-align:left; }
.zuoyou dl dd p{ font-size:21px; color:#717071; line-height:47px; text-align:left }
.zuoyou dl dd h2{font-size:18px; color:#717071; line-height:47px; text-align:right; }

.chtixi{width:1200px; margin:0 auto; padding-top:60px; text-align:center; }
.chtixi p{ padding-top:20px; padding-bottom:20px; color:#231815; font-size:21px;line-height:47px; text-align:left }

/*服务模式*/

.chtixi p span{ color:#e10012 }
.ertu{width:1200px; margin:0 auto; padding-top:10px; }
.ertu ul li{ text-align:left; width:50%; float:left; }
.ertu ul li strong{ clear:both; display:block; text-align:center; padding-top:23px; padding-bottom:23px; }
.ertu ul li strong span{ color:#231815; font-size:16px; }

.zaijiaxx{width:1200px; margin:0 auto; padding-top:10px;padding-bottom:10px;}
.zaijiaxx p{padding-top:20px; padding-bottom:20px; color:#231815; font-size:21px;line-height:47px; text-align:left }
.zaijiaxy ul li{ float:left; width:33.33%; text-align:center;}

.imgleading h2{padding-top:20px; text-align:center; padding-bottom:20px; color:#231815; font-size:21px;line-height:47px;  }

.device4{width:100%; margin:0 auto; position:relative; padding-top:40px;padding-bottom:40px; overflow:hidden }
.device4 ul{ clear:both; display:block;  }
.device4 ul li{ float:left; width:25%; margin-left:0px; position:relative;margin-right:0px; text-align:center;}
.device4 ul li a{ display:block;  text-align:center; }
.device4 ul li a span.on{ z-index:100; position:absolute; background:red; color:#fff;  width:100px; height:42px; line-height:42px;  left:50%;font-size:14px;  margin-left:-50px; top:50%; margin-top:10px; }
.device4 ul li strong.tit{z-index:100;text-align:center; width:100%; position:absolute;top:40%; display:block;  clear:both; color:#fff; font-size:14px; line-height:32px;  }

.device4 ul li a span.off{ display:block; left:0px; top:0px;  z-index:10; background:url(/static/img/fwms_41.png) repeat;position:absolute;  width:100%; height:100%; }
.device4 ul li a:hover span.off{  display:none;
     }
/*课程体验*/
.ljgm{width:1200px; margin:0 auto; padding-top:20px;padding-bottom:20px; overflow:hidden;}
.ljgm h2{ text-align:center;  color:#231815; font-size:21px; }
.ljgm p{ padding-top:20px; padding-bottom:20px; color:#231815; font-size:21px;line-height:47px; text-align:left }
.ljgm ul{ padding-top:22px; padding-bottom:22px;  overflow:hidden;}
.ljgm ul li{ width:50%; float:left; text-align:center;}

.jiage{ background:#e10012; width:100%; padding-top:40px; padding-bottom:40px; }
.jiage .biaoti{width:1200px; margin:0 auto;}
.jiage .biaoti strong .fl1{  border-top:1px solid #fff; line-height:1px;  height:1px; margin-top:0px; width:60px; margin-left:2px; margin-right:2px; }
.jiage .biaoti strong .fl2{ color:#fff; font-size:21px; line-height:40px; }
.jiage .biaoti strong .fl3{ border-top:1px solid #fff;line-height:1px;  height:1px;margin-top:0px;  width:60px; margin-left:2px; margin-right:2px; }
.jgcon{ width:1200px; margin:0 auto; padding-top:10px; padding-bottom:10px; }
.jgcon h2{ text-align:center;padding-top:10px; padding-bottom:10px;font-size:24px; color:#fff;}
.jgcon p{ text-align:center;padding-top:10px; padding-bottom:10px; font-size:18px; color:#fff; }

.zhifufs{width:1170px; margin:0 auto;padding-top:20px;padding-bottom:40px; overflow:hidden }
.zfcon  strong{ clear:both; text-align:center;  display:block; padding-top:15px; padding-bottom:10px;  }
.zfcon  strong .fl1{ display:inline-block;  border-top:1px solid black; line-height:1px;  height:1px; margin-top:0px; width:30px; margin-left:2px; margin-right:12px;padding-top:5px; }
.zfcon  strong .fl2{  display:inline-block; color:black; font-size:14px; font-size:21px; line-height:40px; }
.zfcon  strong .fl3{ display:inline-block; border-top:1px solid black;line-height:1px;  height:1px;margin-top:0px;  width:30px; margin-left:12px; margin-right:2px;padding-top:5px; }
.zfcon p{ line-height:40px; color:#717071; font-size:18px; }
.zfcon p span{ color:#333; }
.zfconl{ width:375px; }
.zfconm{ width:380px; margin-left:20px; margin-right:20px; }
.zfconr{ width:375px; }
.saomao{ text-align:center; padding-top:60px; }
.saomao ul li{ padding-top:5px; padding-bottom:5px;}

.saomao1{ text-align:center; padding-top:20px; }
.saomao1 ul li{ padding-top:5px; padding-bottom:5px;}

.zhucecl{ width:500px; margin:0 auto; padding-top:70px; padding-bottom:80px; position:relative;  text-align:center;}
.zhucecl a{ display:block; background:rgb(224,0,18); width:100%; color:#fff; padding:15px 0px; font-size:16px; }
.zhucecl a:hover{background:rgb(165,15,20); }
.zhucecl .on{ position:absolute;  left:10px; top:60px; }
/*关于我们*/
.tuandui{width:100%; padding-top:40px; padding-bottom:40px;}
.tuandui .biaoti{width:1200px; margin:0 auto;}
.tuandui .biaoti strong .fl1{  border-top:1px solid black; line-height:1px;  height:1px; margin-top:0px; width:60px; margin-left:2px; margin-right:12px; }
.tuandui .biaoti strong .fl2{ color:#231815; font-size:21px; line-height:40px; }
.tuandui .biaoti strong .fl3{ border-top:1px solid black;line-height:1px;  height:1px;margin-top:0px;  width:60px; margin-left:12px; margin-right:2px; }
.ljgm p span{ color:#e00012 } 

.tuanduicon{width:1200px; margin:0 auto;}
.tuanduicon ul{ padding-top:15px; padding-bottom:15px; }
.tuanduicon ul li{ float:left;  width:280px; margin-left:10px; margin-right:10px;  text-align:center; }
.tuanduicon ul li .biaoti{ padding:0px; margin:0px; height:60px; width:280px; margin:0 auto;}
.tuanduicon ul li .biaoti strong{padding-top: 12px;clear:both; display:block;}
.tuanduicon ul li .biaoti strong .fl1{  border-top:1px solid #b4b4b5; line-height:1px;  height:1px; margin-top:0px; width:30px; margin-left:2px; margin-right:2px; }
.tuanduicon ul li .biaoti strong .fl2{ color:#231815; font-size:21px; line-height:40px; }
.tuanduicon ul li .biaoti strong .fl3{ border-top:1px solid #b4b4b5;line-height:1px;  height:1px;margin-top:0px;  width:30px; margin-left:2px; margin-right:2px; }
.tuanduicon ul li .biaoti span.cl{ clear:both; display:block; height:44px; color:#e10012; font-size:16px; line-height:20px; }
.tuanduicon ul li p{ padding:0px; padding-top:20px; padding-bottom:10px; text-align:left; line-height:32px; color:#717071;   font-size:16px; }

/*联系我们*/
.lxwm{ text-align:center;}
.lianxicon{width:1200px; margin:0 auto;}
.lianxicon ul li{ float:left; width:350px; color:#717071; height:80px; font-size:18px; line-height:22px; }
.lianxicon ul li.li1{ padding-top:10px; background:url(/static/img/wwoo_06.png) no-repeat; padding-left:50px; line-height:30px; }
.lianxicon ul li.li2{ padding-top:10px; background:url(/static/img/wwoo_08.png) no-repeat; padding-left:50px; line-height:40px; }
.lianxicon ul li.li3{width:325px; background:url(/static/img/wwoo_11.png) no-repeat; background-position:0px 15px;  padding-left:75px;line-height:70px;}

.centerz{width:1200px; margin:0 auto;}

.centerz ul{padding-top:10px;padding-bottom:10px;}
.centerz ul li{ text-align:left; float:left; width:400px;}
.centerz ul li.li2 p{  color:#717071; font-size:18px; line-height:36px; }
.centerz ul li.li3{ padding-left:20px; width:380px;}
.lxwomen{width:1200px; margin:0 auto;}
.lxwomen ul{ padding-left:50px; }
.lxwomen ul li{ padding-top:10px; padding-bottom:10px; clear:both; display:block;}
.lxwomen ul li input{ width:1000px; border:1px solid #b4b4b5; color:#b4b4b5; height:60px; line-height:60px; padding-left:20px; font-size:16px; }
.lxwomen ul li textarea{ width:1000px; border:1px solid #b4b4b5; color:#b4b4b5; height:260px; line-height:40px; padding-left:20px; font-size:16px; }
.lxwomen ul li .querenm{ display:block; text-align:center; background:#e50012; width:120px; margin:0 auto; height:40px; line-height:40px;  color:#fff; font-size:16px; }
.rigfie {
    position:fixed;
    bottom: 90px;
    right: 30px;
    z-index: 999;
    cursor: pointer;
}

.gjur{ width:200px; height:150px; position:relative }
.gjur .ok{ display:none; }
.gjur:hover .ok{ z-index:1; display:block; background:url(/static/img/fwms_41.png) repeat; width:100%; height:100%; position:absolute; left:0px; top:0px; border-radius:10px; }
.gjur .on{ z-index:10; width:60px; height:60px; position:absolute; left:50%; top:50%; margin-left:-30px; margin-top:-30px;}
.gjur .on a{ background:url(/static/img/pp_09.png) no-repeat; width:60px; height:60px; display:block; }
.gjur .off{ z-index:11; width:60px; height:60px; position:absolute; left:50%; top:50%; margin-left:-30px; margin-top:-30px;}
.gjur .off a{ background:url(/static/img/off_03.png) no-repeat; width:60px; height:60px; display:block; }

.device1 ul li .pic{ position:relative; width:370px; height:211px; }
.device1 ul li .pic .ok{ display:none; }
.device1 ul li .pic:hover .ok{ z-index:1; display:block; background:url(/static/img/fwms_41.png) repeat; width:100%; height:100%; position:absolute; left:0px; top:0px; }
.device1 ul li .pic .onn{ z-index:10; width:60px; height:60px; position:absolute; left:50%; top:50%; margin-left:-30px; margin-top:-30px;}
.device1 ul li .pic .onn a{ background:url(/static/img/pp_09.png) no-repeat; width:60px; height:60px; display:block; }
.device1 ul li .pic .off{ z-index:11; width:60px; height:60px; position:absolute; left:50%; top:50%; margin-left:-30px; margin-top:-30px;}
.device1 ul li .pic .off a{ background:url(/static/img/off_03.png) no-repeat; width:60px; height:60px; display:block; }

.device2 ul li .pic{ position:relative; width:271px; height:201px; }
.device2 ul li .pic .ok{ display:none; }
.device2 ul li .pic:hover .ok{ z-index:1; display:block; background:url(/static/img/fwms_41.png) repeat; width:100%; height:100%; position:absolute; left:0px; top:0px; }
.device2 ul li .pic .onn{ z-index:10; width:60px; height:60px; position:absolute; left:50%; top:50%; margin-left:-30px; margin-top:-30px;}
.device2 ul li .pic .onn a{ background:url(/static/img/pp_09.png) no-repeat; width:60px; height:60px; display:block; }
.device2 ul li .pic .off{ z-index:11; width:60px; height:60px; position:absolute; left:50%; top:50%; margin-left:-30px; margin-top:-30px;}
.device2 ul li .pic .off a{ background:url(/static/img/off_03.png) no-repeat; width:60px; height:60px; display:block; }



.device3 ul li .onn{ display:none; z-index:10; width:100px; height:40px; position:absolute; left:50%; top:50%; margin-left:-50px; margin-top:20px;}
.device3 ul li .onn a{ background:#b81a27;  line-height:40px; color:#fff; font-size:16px; text-align:center; width:100px; height:40px; display:block; }
.device3 ul li .pic .ok{ display:none; }
.device3 ul li .pic:hover .ok{ z-index:1; display:block; background:url(/static/img/fwms_41.png) repeat; width:100%; height:100%; position:absolute; left:0px; top:0px; }
.device3 ul li .pic:hover .on{display:none; }
.device3 ul li .pic:hover .onn{ display:block; }
.device3 ul li a span.offa{ display:block; left:0px; top:0px;  z-index:10; background:url(/static/img/fwms_41.png) repeat;position:absolute;  width:100%; height:100%; }

.add ul li{ float:left; position:relative; width:33.33%;}
.add ul li span{position:absolute; left:50%; margin-left:-140px; bottom:220px; width:280px; height:67px; line-height:67px; font-size:23px; text-align:center; color:#fff; background:#e10012; }
.add ul li p{ position:absolute; left:0px; width:100%;  bottom:100px; text-align:center; color:#fff; font-size:24px; line-height:38px; display:block }
.add ul li:hover p{ display:none }
.add ul li:hover span{ width:100%; bottom:0px; left:0px; margin-left:0px; }

.xiazais{width:1200px; margin:0 auto; padding-top:20px; padding-bottom:20px; }
.xiazaix{width:1200px; margin:0 auto;padding-top:20px; padding-bottom:20px;}
.xiazaisl{  width:580px; }
.xiazaisl a{transition-duration: .5s; 
-moz-transition-duration: .5s; /* Firefox 4 */
-webkit-transition-duration: .5s; /* Safari 和 Chrome */
-o-transition-duration: .5s; /* Opera */
transition-property:background;
-moz-transition-property: background; /* Firefox 4 */
-webkit-transition-property:background; /* Safari 和 Chrome */
-o-transition-property:background; display:block;  height:240px; background:#ececed }
.xiazaisl a dl{ clear:both; display:block; }
.xiazaisl a dl dt{ float:left; width:306px; text-align:center; padding-top:44px; }
.xiazaisl a dl dd{ float:left; width:220px; text-align:center; padding-top:44px; }
.xiazaisl a dl dd strong{ clear:both; display:block; color:#000000; font-size:24px; padding-top:40px; }
.xiazaisl a dl dd span{clear:both; display:block; color:#595757; font-size:24px; }
.xiazaisl a:hover{  background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1; }
.xiazaisl a:hover dl dd strong{ color:#fff; }
.xiazaisl a:hover dl dd span{ color:#fff; }


.xiazaisr{  width:580px; }
.xiazaisr a{transition-duration: .5s; 
-moz-transition-duration: .5s; /* Firefox 4 */
-webkit-transition-duration: .5s; /* Safari 和 Chrome */
-o-transition-duration: .5s; /* Opera */
transition-property:background;
-moz-transition-property: background; /* Firefox 4 */
-webkit-transition-property:background; /* Safari 和 Chrome */
-o-transition-property:background; display:block;  height:240px; background:#ececed }
.xiazaisr a dl{ clear:both; display:block; }
.xiazaisr a dl dt{ float:left; width:306px; text-align:center; padding-top:44px; }
.xiazaisr a dl dd{ float:left; width:220px; text-align:center; padding-top:44px; }
.xiazaisr a dl dd strong{ clear:both; display:block; color:#000000; font-size:24px; padding-top:40px; }
.xiazaisr a dl dd span{clear:both; display:block; color:#595757; font-size:24px; }
.xiazaisr a:hover{ background: rgb(224,0,18);  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839')";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCF03839', endColorstr='#CCF03839');
  zoom: 1; }
.xiazaisr a:hover dl dd strong{ color:#fff; }
.xiazaisr a:hover dl dd span{ color:#fff; }

.biti{ padding-top:40px; padding-bottom:20px; text-align:center; width:1200px; margin:0 auto;}
.gengxinsj{ text-align:center; color:#df0012; font-size:24px; padding-top:20px; padding-bottom:20px; }
.weixinxz{ width:1200px; margin:0 auto; padding-top:20px; padding-bottom:20px;  }
.weixinxz1{ text-align:left;}
.weixinxz2{ text-align:left;padding-top:20px; }
.weixinxz2 span{ color:#231815; font-size:18px; }
.weixinxz2 ul li{ padding-left:10px; background:url(/static/img/dian_12.png) no-repeat;  background-position:0px 17px; clear:both; display:block; color:#595757; font-size:18px;  line-height:36px; }
.weixinxz2 ul li a{ color:#2a201d; text-decoration:underline; }


/**/
